---
{
	"officiallanguage": "<%= language === 'en' || language === 'fr' %>"
}
---
<ul class="list-inline">
{{#is gcfooter.officiallanguage "true"}}
	<li><a href="http://{{{i18n "tmpl-health-url"}}}"><span>{{{i18n "tmpl-health"}}}</span></a></li>
	<li><a href="http://{{{i18n "tmpl-travel-url"}}}"><span>{{{i18n "tmpl-travel"}}}</span></a></li>
	<li><a href="http://www.servicecanada.gc.ca/{{{i18n "lang-code-iso-639-2"}}}/{{{i18n "tmpl-home-url"}}}.shtml"><span>{{{i18n "tmpl-servicecanada"}}}</span></a></li>
	<li><a href="http://www.{{{i18n "tmpl-jobs-url"}}}"><span>{{{i18n "tmpl-jobs"}}}</span></a></li>
	<li><a href="http://{{{i18n "tmpl-economy-url"}}}/{{language}}"><span>{{{i18n "tmpl-economy"}}}</span></a></li>
{{/is}}
	<li id="canada-ca"><a href="http://www.canada.ca/{{#is gcfooter.officiallanguage "true"}}{{language}}/index.html{{/is}}">Canada.ca</a></li>
</ul>