---
{
	"officiallanguage": "<%= language === 'en' || language === 'fr' %>"
}
---
<object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/../{{site.theme}}/assets/sig-{{#is headerbar.officiallanguage "true"}}{{language}}{{else}}{{site.defaultLanguage}}{{/is}}.svg" aria-label="{{#is page.language "fr"}}{{{i18n "tmpl-gc-sig"}}} / {{{i18n "tmpl-gc-sig" language="en"}}}{{else}}{{{i18n "tmpl-gc-sig" language="en"}}} / {{{i18n "tmpl-gc-sig" language="fr"}}}{{/is}}"{{#isnt headerbar.officiallanguage "true"}} lang="{{{site.defaultLanguage}}}"{{/isnt}}></object>
<ul id="gc-bar" class="list-inline">
{{#is headerbar.officiallanguage "true"}}
	<li><a href="http://www.canada.ca/{{language}}/index.html" rel="external">Canada.ca</a></li>
	<li><a href="http://www.canada.ca/{{language}}/services/index.html" rel="external">{{{i18n "tmpl-services"}}}</a></li>
	<li><a href="http://www.canada.ca/{{language}}/{{{i18n "tmpl-gov-url"}}}/{{{i18n "tmpl-dept-url"}}}/index.html" rel="external">{{{i18n "tmpl-depts"}}}</a></li>
{{/is}}
{{#isnt languagetoggle "false"}}
	{{>languagetoggle}}
{{/isnt}}
</ul>
