<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{language}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{language}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}} - {{{i18n "site-title"}}}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<!-- Meta data -->
		<meta name="description" content="{{{i18n "site-description"}}}" />
		<!-- Meta data-->
		{{>splashresources}}
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<header role="banner">
			<div id="wb-bnr" class="container">
				<object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/../{{site.theme}}/assets/sig-alt-{{language}}.svg" aria-label="{{#is page.language "fr"}}{{{i18n "tmpl-gc-sig"}}} / {{{i18n "tmpl-gc-sig" language="en"}}}{{else}}{{{i18n "tmpl-gc-sig"}}} / {{{i18n "tmpl-gc-sig" language="fr"}}}{{/is}}"></object>
			</div>
		</header>
		<main role="main" property="mainContentOfPage" class="container">
			<div class="col-md-12">
				{{>body}}
			</div>
		</main>
		<footer role="contentinfo" class="container">
			<object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/../{{site.theme}}/assets/wmms-alt.svg" aria-label="{{{i18n "tmpl-gc-wmms"}}}"></object>
		</footer>
		{{>footerresources}}
		{{#if environment.test}}{{>test}}{{/if}}
	</body>
</html>
